---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Launcher from "@/components/Launcher";
---

<BaseLayout title="Tranzit — Código Nacional de Tránsito">
    <main>
        <h1>Tranzit</h1>
        <p>
            Encuentra información clara sobre la Ley 769 de 2002 (Código
            Nacional de Tránsito de Colombia).
        </p>
        <Launcher client:load />
    </main>
</BaseLayout>
